@font-face {
  font-family: YaHeiConsolas;
  src: url(./fonts/YaHei.Consolas.ttf);
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: MONACO;
  src: url(./fonts/MONACO.ttf);
  font-weight: normal;
  font-style: normal
}
